#header {
	width: 960px;
	height: 75px;
	display: inline-block;
	border-color: #cccccc;
	background-color: #ffffff;
	border-style: solid;
	border-top: none;
	border-bottom-width: 2px;
	border-right: none;
	border-left: none;
	border-color: #d3d3d3;
	position: relative;
}

h1 {
	color: white;
	background: #4aaaa5;
	float: left;
	padding: 15px;
	margin-left: 50px;
	position: absolute;

}

.otherPages {
	float: right;
	padding: 45px;
	max-width: 270px;
	text-align: center;
	position: relative;
	display: inline-block;

}

a:link {
	text-decoration: none;
}

.container {
	width: 960px;
}

#leftContent {
	clear: both;
	max-width: 650px;
	padding: 10px;
	float: left;
	background-color: lavender;
	margin-top: 25px;
	margin-right: 5px;
	margin-bottom: 25px;
	margin-left: 50px;
}

#connectWithMe {
	float: left;
	max-width: 270px;
	background-color: lavender;
	text-align: center;
	margin-top: 25px;
	margin-right: 5px;
	margin-bottom: 25px;
	margin-left: 20px;
	padding: 20px;
}

.verticalLine {
	width: 1px;
	background-color: #777777;
	height: 1px;
	opacity: 0.2;
	float: left;
}

body {
	background-image: url(../images/Background.png);
}

.mainContent {
	display: inline-block;
}

.textWidth {
	width: 600px;
}

.heightLarge {
	height: 200px;
}

.heightSmall {
	height: 20px;
}

input[type=submit] {
	color: white;
	background: #4aaaa5;
	height: 40px;
	width: 115px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;	
	font-size: 125%;

}

.profilePicture {
	float: left;
	margin: 25px;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h2, h3 {
		color: #4aaaa5;
}

p, a, footer, form {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

hr {
	color: #777777;
	background-color: #777777;
	height: 1px;
	opacity: 0.2;
	/*width: 590px;*/
}

footer {
	color: white;
	background: #666666;
	border-style: solid;
	border-top-width: 10px;
	border-bottom: none;
	border-right: none;
	border-left: none;
	border-color: #4aaaa5;
	clear: left;
	text-align: center;
	max-width: 960px;
	padding: 25px;
}

